body {
    background: whitesmoke;
    font-family: 'Courier Prime', 'Courier New', Courier, monospace;
}

header {
    text-align: center;
    margin: 10px;
    color: darkslategrey;
}

#board {
    border-radius: 4px;
    background: lightgrey;
    border-right: 2px solid rgb(180, 180, 180);
    border-bottom: 2px solid rgb(170, 170, 170);
    width: 200px;
    padding: 4px;
    display: grid;
    margin: auto;
    justify-content: center;
    grid-template-columns: 5px 1fr 5px 1fr 5px 1fr 5px;
    grid-template-rows: 1fr 10fr 1fr 10fr 1fr 10fr 1fr;
}

.score-board {
    display: block;
    color: darkslategrey;
    margin-bottom: 10px;
}

#player-1-score + div, #player-2-score + div {
    font-size: x-small;
    font-weight: bold;
    margin-top: 0;
}

#player-1-score, #player-2-score {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
}

#player-1-score {
    color: #4881ea;
}

#player-2-score {
    color:#ff5233;
}



button {
    font-size: 8px;
    padding: 5px;
    display:block;
    border-radius: 4px;
    background-color: rgb(242, 87, 70);
    color: white;
}

button:focus {
    outline:0;
}

.dot {
    height: 5px;
    background: darkslategrey;
    border-radius: 100%;
    z-index: 2;
}

.square {
    margin: 2px;
    background-color: rgb(200, 200, 200);
    border-radius: 4px;
}

.vedge {
    margin: -2px 0.63px -2px 0.75px;
}

.hedge {
    margin: 0.75px -2px 0.63px -2px;
}

.vedge:hover, .hedge:hover {
    background: darkgrey;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 300px) { /* mobile */
    /* #board {
        background: lightgrey;
        width: 200px;
    } */
}