body {
    background: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: darkslategray;
}

#player-1-score {
    color: #4881ea;
}

#player-2-score {
    color:#ff5233;
}

#player-1-score, #player-2-score {
    margin-left: 80px;
    margin-right: 80px;
}

#board {
    display: grid;
    margin: auto;
    justify-content: center;
    background: antiquewhite;
    grid-template-columns: 5px 1fr 5px 1fr 5px 1fr 5px;
    grid-template-rows: 1fr 10fr 1fr 10fr 1fr 10fr 1fr;
        /* grid-column-gap: 1vmin;
        grid-row-gap: 1vmin; */
}

button {
    font-size: 8px;
    padding: 10px;
    display:block;
    border-radius: 8%;
    background-color: rgb(242, 87, 70);
    color: white;
    button:focus {outline:0;}
}

button:focus {
    outline:0;
}

.dot {
    height: 5px;
    background: #313639;
}

.vedge, .hedge {
    background-color: grey;
    border: 0.75px solid rgb(24, 24, 24);
}

.vedge:hover, .hedge:hover {
    background: darkgray;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 300px) { /* mobile */
    #board {
        background: lightgrey;
        width: 300px;
    }

