body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    flex-shrink: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 275px;
}

/*
 * ─── INFO BAR ───────────────────────────────────────────────────────────────────
 */

#bottom-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: whitesmoke;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    box-shadow: 0px 0px 18px 0px rgb(230, 230, 230);
}

#player-vs-player {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 1000px;
}

.player-info {
    display: block;
    text-align: center;
    color: darkslategrey;
    opacity: 0.3;
    transition: all 0.2s linear;
    margin: 15px 30px;
}

#player-1-score, 
#player-2-score {
    margin-top: 0;
    margin-bottom: 0; 
    transition: all 0.2s linear;
}

#player-1-score {
    color:#ff5233;
    font-size: 40px;
}

#player-2-score {
    color: #4881ea;
    font-size: 40px;
}

#player-1-name, #player-2-name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}

#vs {
    font-size: 30px;
    font-weight: 900;
    color: darkslategrey;
}

#bar-button {
    display: none;
}

/* ──────────────────────────────────────────────────────────────────────────────── */

#play-area {
    flex-grow: 100;
}

#play-area h1 {
    display: none;
}

#board {
    flex-shrink: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr 10fr) 1fr;
    grid-template-rows: repeat(3, 1fr 10fr) 1fr;
    border-radius: 16px;
    background: lightgrey;
    border-right: 6px solid rgb(180, 180, 180);
    border-bottom: 8px solid rgb(160, 160, 160);
    width: 500px;
    height: 500px;
    padding: 12px;
    margin: 50px auto;
}

aside {
    margin-left: 50px;
    flex-grow: 1;
    align-self: flex-start;
}

aside p {
    font-family: Inter, Arial, Helvetica, sans-serif;
    text-align: justify;
    color: darkslategrey;
    min-width: 200px;
    max-width: 400px;
    padding-bottom: 30px;
}

h1 {
    font-size: 4.2vw;
    letter-spacing: -1.5px;
    color: darkslategrey;
    margin-top: 32px;
    margin-bottom: 32px;
    letter-spacing: -3px;
}

.active {
    opacity: 1;
    transition: all 0.2s linear;
}

/* NEW GAME button */
button {
    display: block;
    background-color: rgb(242, 87, 70);
    border-top: 1px solid rgb(242, 87, 70);
    border-left: 1px solid rgb(242, 87, 70);
    border-right: 4px solid rgb(206, 66, 51);
    border-bottom: 6px solid rgb(167, 58, 46);
    outline: none;
    cursor: pointer;
    font-size: 20px;
    padding: 20px;
    margin-top: 40px;
    border-radius: 12px;
    color: white;
    transition: all 0.2s linear;
    font-family: Courier;
    text-transform: capitalize;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: rgb(218, 78, 62);
    color: whitesmoke;
    transition: all 0.2s linear;
}

.dot {
    border: 10px solid darkslategrey;
    background: darkslategrey;
    border-radius: 100%;
    z-index: 1;
}

.square {
    margin: 5%;
    background-color: rgb(200, 200, 200);
    border-radius: 10%;
    transition: all 0.2s ease 0.1s;
}

.hedge, 
.vedge {
    cursor: pointer;
    transition: all 0.2s ease;
}

.hedge {
    
    margin: 2.5px -9px;
}

.vedge {
    margin: -9px 2.5px;
}

.hedge:hover, 
.vedge:hover {
    background: darkgrey;
    transition: all 0.2s ease;
}

/* ──────────────────────────────────────────────────────────────────────────────── */

@media only screen and (max-width: 1100px) {
    body {
        flex-direction: column;
    }

    #play-area h1 {
        display: block;
        text-align: center;
    }

    aside h1 {
        display: none;
    }

    h1 {
        font-size: 9vw;
    }

    .pencil-top, .pencil-body, .pencil-bottom {
        display: none;
    }

    aside {
        margin-left: 0;
    } 

    aside p {
        min-width: initial;
        max-width: 1000px;
    }

    #board {
        max-height: 450px;
        max-width: 450px;
        height: 60vw;
        width: 60vw;
    }

    .select-css {
        display: block;
    }

    #main-button {
        display: none;
    }

    
    #bar-button {
        display: inline;
        margin: 15px;
        flex-basis: 200px;
    }
}

@media only screen and (max-width: 800px) {
    #player-vs-player {
        justify-content: flex-start;
    }

    .player-info {
        margin: 15px 15px;
    }
    
    #player-1-name, 
    #player-2-name {
        font-size: 18px;
        white-space: nowrap;
    }

    #vs {
        font-size: 18px;
    }

    #bar-button {
        font-size: 15px;
        display: inline;
        margin: 15px;
        min-width: 100px;
        padding: 20px 0;
    }
}

/* ──────────────────────────────────────────────────────────────────────────────── */


/* The Modal (background) */
.modal {
    font-weight: 900;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    z-index: 4; /* Sit on top */
    min-width: 100%; /* Full width */
    min-height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */ 
    color: darkslategrey; /* Font color */
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20% auto;
    width: 60%;

    border-radius: 16px;
    background: lightgrey;
    border-right: 6px solid rgb(180, 180, 180);
    border-bottom: 6px solid rgb(160, 160, 160);
}

.close {
    padding: 10px 20px;
}

#myModal p {
    font-size: 5vw;
    flex-grow: 5;
    margin: 30px 10px;
}

.close {
    align-self: flex-start;
    color: rgb(171, 171, 171);
    font-size: 50px;
    font-weight: 900;
}

.close:hover,
.close:focus {
    color: rgb(225, 60, 31);
    text-decoration: none;
    cursor: pointer;
}

label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 600;
    color: darkslategrey;
    margin-right: 10px;
}

.select-css {
	display: inline-block;
	font-size: 14px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: auto;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0 10px 0 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}

/*
 * ─── PENCIL ──────────────────────────────────────────────────────────────────────
 */

.pencil {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.pencil-top {
    height: 40px;
    background-color: #ec8787;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom: 15px solid lightgrey;
    
}

.pencil-body {
    flex-shrink: 3;
    height: 450px;
    background: #FFC334;
    border-left: 10px solid #FFD268;
    border-right: 10px solid #E2AF38;
}

.pencil-bottom {
    border-top: 30px solid #FFCC99;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.pencil-bottom:after {
    content: "";
    position: relative;
    border-top: 30px solid #333;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    top: 30px;
}

/* ──────────────────────────────────────────────────────────────────────────────── */

#row-select, #col-select {
    margin-bottom: 10px;
}